* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: grid;
    place-items: center;
    font-family: sans-serif;
    background-color: #f3f8fe;
}

/* Calendar */
.calendar {
    height: max-content;
    width: max-content;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.light .calendar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: green;
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: darkgreen;
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s linear, height 0.2s linear;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {

    background-color: lightgray;
    color: darkgreen;
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.chooseMonth {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.chooseMonth:hover {
    background-color: blue;
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: green;
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* .toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
} */

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s linear;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: green;
}

.month-list > div > div:hover {

    background-color: var(--color-hover);
}

.add-to-schedule-button {
    color: white;
    background-color: darkgreen;
    transition: all 0.5s;
    padding:15px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Roboto Light', sans-serif;
}

.add-to-schedule-button:hover {
    background-color: green;
}

.add-to-schedule-form {
    border-radius: 15px;
    border: 2px solid green;
    padding: 20px;
    display: none;  /* Form is automatically hidden */
}

/* Labels used for the add-to-schedule form */
label {
    width: 150px;
    margin: 8px;
    display: inline-block;
}

/* dropdown menu */
.dropbtn {
    background-color: green;
    color: white;
    padding:10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Roboto Light', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: darkseagreen;}

/* Calendar End */

